@main {
<h1>Slides</h1>

@defining(Entry.find.findList) { entries =>
<p>@(entries.size)件</p>
<table>
    <tr>
        <th>タイトル</th>
        <th>作成日時</th>
        <th>詳細リンク</th>
    </tr>
    @for(entry <- entries) {
    <tr>
        <td>@entry.title</td>
        <td>@entry.createdAt</td>
        <td><a href="@routes.EntriesController.show(entry.id)">link</a></td>
    </tr>
    }
}
</table>
<a href="@routes.EntriesController.newEntry">Create new Entry</a>

<ul>
  <li><a href="@routes.Application.ppt" ><img src="@routes.Assets.at("images/file_type-ppt.jpg")" />Convert ppt  to image file</a></li>
  <li><a href="@routes.Application.pptx"><img src="@routes.Assets.at("images/file_type-pptx.jpg")"/>Convert pptx to image file</a></li>
  <li><a href="@routes.Application.pdf" ><img src="@routes.Assets.at("images/file_type-pdf.jpg")" />Convert pdf  to image file</a></li>
</ul>
}
