@(entryForm: Form[Entry])

@import helper._
@main {
<h1>New Slides</h1>

  @helper.form(action = routes.EntriesController.create) {
    @inputText(
      entryForm("title"),
      '_label -> "タイトル"
    )
    @inputText(
      entryForm("description"),
      '_label -> "内容"
    )

    <input id="create" type="submit" class="btn" value="新規作成">
  }
  <script src="@routes.Assets.at("javascripts/jquery-2.1.1.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/entry_new.js")" type="text/javascript"></script>
  <script type="text/javascript">
    /*
    var button = document.getElementById('create');
    button.onclick = function() {
      var title = document.getElementById('title')
      if(title.value === "") {
        var err_msg = document.createElement('dd');
        err_msg.innerText = 'タイトルを入力してください。'
        document.getElementById('title_field').appendChild(err_msg);
        return false;
      }
    };
    */
  </script>
}
