@(entry: Entry)

@main {
  <div>
    <label for='title'>タイトル</label>
    <p id='title'>@entry.title</p>
  </div>

  <div>
    <label>内容</label>
    <p id='description'>@entry.description</p>
  </div>

  <a href="@routes.EntriesController.index()" class="btn btn-default" role="button">戻る</a>
}
